.owl-carousel {
  font-family: 'Open sans', sans-serif !important;
  margin: 0 !important;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-tap-highlight-color: transparent; }
  .owl-carousel a, .owl-carousel h2{color: inherit;}
  .owl-carousel .item .texto {
    left: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 35%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    -ms-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    -o-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }
    .owl-carousel .item .texto.azul {color: #002C76 !important;}
    .owl-carousel .item .texto.blanco {color: #FFF !important;}
    .owl-carousel .item .texto h1 {
      font-family: 'Open sans', sans-serif !important;
      font-size: 2.7em;
      margin-bottom: 10px;
      line-height: 50px;
    }
    .owl-carousel .item .texto h2 {
      font-size: 1.5em;
      font-weight: lighter;
      color: inherit;
      margin-top: 0px;
      font-family: 'Open sans', sans-serif !important;
    }
    .owl-carousel .item .texto .boton {
      border-radius: 20px;
      margin: 20px 0 0px;
      padding: 8px 20px;
      display: inline-block;
      text-decoration: none;
      text-shadow: none; }
    .owl-carousel .item .texto .amarillo {
      background-color: #ffb400;
      color: white; }
    .owl-carousel .item .texto .azul {
      background-color: #002C76;
      color: white; }
    .owl-carousel .item .texto .blanco {
      background-color: white;
      color: #002C76; }
  .owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -20px); }
    .owl-carousel .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1; }
      .owl-carousel .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px;
        background: #D6D6D6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 0.2s ease;
        border-radius: 30px; }
      .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
        background: #002c76; }
  .owl-carousel .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 10px; }
    .owl-carousel .owl-nav [class*=owl-] {
      color: #FFF;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: #D6D6D6;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px; }
      .owl-carousel .owl-nav [class*=owl-]:hover {
        background: #002c76;
        color: #FFF;
        text-decoration: none; }
    .owl-carousel .owl-nav .disabled {
      opacity: 0.5;
      cursor: default; }
    .owl-carousel .owl-nav.disabled + .owl-dots {
      margin-top: 10px; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; }
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
    .owl-carousel .owl-item img {
      display: block;
      width: 100%; }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
    .owl-carousel.owl-rtl .owl-item {
      float: right; }

.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* 	Owl Carousel - Auto Height Plugin */
.owl-height {
  transition: height 500ms ease-in-out; }

/* 	Owl Carousel - Lazy Load Plugin */
.owl-carousel .owl-item {
  /*     *
   * 			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
   * 			calculation of the height of the owl-item that breaks page layouts */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
    .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
      max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }
  .owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
@media (max-width: 1024px) {
    .owl-carousel .item .texto {width: 50%;}
    .owl-carousel .item .texto h1 {font-size: 2em; }

@media (max-width: 970px) {
  .owl-carousel .item .texto {
    left: 50px;
    width: 40%; }
    .owl-carousel .item .texto h1 {
      font-size: 1.5em; line-height: 30px;}
    .owl-carousel .item .texto h2 {
      font-size: 1em;
      font-weight: normal; } }
